<h2><%= "Collaborators on: #{@wiki.title}" %></h2>
<div class = "row">
    <div class = "col.sm-8">
      	<table class="table">
      	    <h3>Add/Remove Collaborators</h3>
    		<thead>
    			<tr>
    				<th>Email</th>
    				<th>Add or Delete a Collaborator</th>
    			</tr>
    		</thead>
    		<tbody>	
    			<div class="field">
    	           <% @users.each do |user| %>
    	            <div class="form-group">
                        <tr>
                            <td> <%= user.email %> </td>
                            <% if @wiki.collaborator_ids.include?(user.id) %>
                                <td><%= button_to "Delete Collaborator", wiki_collaborator_path(@wiki.id, user.id), method: :delete, params: {collaborator_ids: user.id} %></td>
                            <% else %>
                                <td><%= button_to "Add Collaborator", wiki_collaborators_path(@wiki.id), params: {user_id: user.id} %></td>
                            <% end %>
                        </tr>
    	    	    </div>
    			</div> 
    	        <% end %>
    		</tbody>
    	</table> 
    </div>
</div>                